$background-color:#2D89E6;
$header-color:#fff;
$font-header:sans-serif;
$border-color:#C3C3C3;
$paragraph-color:#6A6A6A;

* {
    box-sizing: border-box;
}

html ,body,.root {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

}

.root {
    display: flex;
    flex-direction: column; 
}

.header-bar {
    width: 100%;
    height: 76px;
    text-align: center;
    background: $background-color;
    color: $header-color;
    padding: 10px;
    font-family: $font-header;
    h1 {
        margin-top: 10px;
        cursor: pointer;
    }
}

.content {
    width: 90%;
    height: 100%;
    display: flex;
    align-self: center;
    
    
}

.form-bar {
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    border: 1px solid $border-color; 
    border-radius: 32px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.form-bar form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    
}

.form-bar form h1 {
    align-self: center;
    font-family: $font-header;
    color: #707070;
    font-size: 22px;
}

.input-item {
    width: 90%;
    height: 50px ;
    border: 1px solid $border-color;
    margin-top: 10px;
    border-radius: 12px;
    padding-left: 15px;
    font-size: 16px;
    align-self: center;
}

.input-item[type=text]:focus {
    border-radius: 12px;
}

.input-item:nth-child(6) {
    min-width: 90%;
    min-height: 270px;
    max-width: 90%;
    max-height: 270px;
    padding: 15px;
}

.form-bar form button {
    width: 100%;
    height: 79px;
    font-family: $font-header;
    color: #fff;
    background: $background-color;
    border: none;
    border-radius: 0px 0px 32px 32px; 
    position: absolute;
    bottom: 0;
    font-size: 22px;
}

.checkbox-side {
    margin-top: 10px;
    width: 90%;
    align-self: center;
}

.input-index {
    width: 15%;
    border: 1px solid $border-color;
}

.menu-bar {
    width: 61.5%;
    height: 100%;
    background: #F6F6F6;
    position: fixed;
    left: 34%;

    div {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.left-nav {
    width:60% ;
    height: 45px;
    background: $background-color;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 0px 23px 23px 0px;
    margin-top: 30px;
    font-family: $font-header;

    label {
        margin-right: 10px;
        margin-left: 15px;
        height: 79%;
        padding-top: 10px;
    } 

    div {
        width: 15%;
        height: 79%;
        align-items: center;
    }

    div select {
        border-radius: 5px;
        padding-left: 15px;
        font-size: 16px;
        height: 21px;
        border: 1px solid $border-color;
        margin-left: 15px;
        width: 100%;
        align-items: center;
    }

    input {
        border-radius: 5px;
        border: 1px solid $border-color;
        height: 21px;
    }
    
}

.left-nav div:nth-child(2) {
    margin-right:10px; 
}

.left-nav div:nth-child(3) {
    border-left: 1px solid #fff;
}

.left-nav div:nth-child(4) {
    padding-right:10px; 
    border-right: 1px solid #fff;
    margin-right: 10px;
}


.right-nav {
    width:10% ;
    height: 45px;
    background: $background-color;
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 23px 0px 0px 23px;
    margin-top: 30px;
    font-family: $font-header;
    justify-content: center;
    h1 {
        font-weight: normal;
    }
}

.member-class {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 807px;
    margin-top: 10px;
    justify-content: flex-start !important;
    overflow: scroll;
}

.member-item {
    display: flex;
    width: 100%;
    height: 150px;
    margin-bottom: 10px;
}

.member-remove {
    width: 10% !important;
    display: flex;
    align-items: center;
    justify-content: center !important;
    button {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        background: #FF4A4A;
        border: none;
        color: #fff;
        font-size: 30px;
        align-self: center;
        cursor: pointer;
    }
}

.member-data {
    display: flex;
    flex-direction: column;
    width: 90% !important;
    font-family: $font-header;
    margin: 0;
    justify-content: center;

    h1 {
       font-size: 22px; 
       margin: 0;
       height: 35%;
       display: flex;
       align-items: center;
       cursor: pointer;
    }

    h3 {
        color: $background-color;
        margin: 0;
        height: 30%;
        display: flex;
        align-items: center;
    }

    p {
        margin: 0;
        height: 40%;
        width: 96%;
        overflow: hidden;
        color: $paragraph-color;
    }
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    -webkit-transition: all 1s;
    transition: all 1s;

}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    position: relative;
}

.modal-close {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 50%;
    top: -12px;
    left: -12px;
    color: #fff;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-close:hover {
    background: #808080;
    color: #000;
    cursor: pointer;

}

.modal-body {
    width: 90%;
    height: 90%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
        margin: 0;
        font-size: 81px;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}

.modal-data {
    width: 50%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    input {
        text-decoration: none;
        color: #2D89E6;
        font-size: 14px;
        border: none;
        text-align: center;
        cursor: pointer;
    }

    select {
         border-radius: 5px;
         border-color: $border-color;
         color: $background-color;
         cursor: pointer;
    }

    div::before {
        content: "/";
        color: $background-color;
    }

}

.modal-detail {
    width: 100%;
    height: 45%;
    color: #6A6A6A;
    font-size: 14;
}
.modal-btn {
    width: 70%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    width: 22%;
    height: 32%;
    color: #fefefe;
    border: none;
    font-size: 16px;
}

.btn-delete {
    background: #FF4A4A;
    cursor: pointer;
}

.btn-save {
    background: #2D89E6;
    cursor: pointer;
}

.btn-cancel {
    background: #484848;
    cursor: pointer;
}

.modal-textarea {
    width: 100%;
    border: none;
    text-align: center;
    font-size: 24px;
    color: $paragraph-color;
}